


<button (click)="tile1()">button 1</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="tile2()">button 2 </button>
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><button (click)="health()">Health</button></li>
  <li><button (click)="enviornment()">Enviornment</button></li>
</ul>

</body>
</html>

<app-comp1 [evnt]="evnt1" [navEvnt]="evnt2" #child></app-comp1>
<app-comp2 [evnt]="evnt1" [navEvnt]="evnt2" #child1></app-comp2>